:root {
    --text: rgb(254, 254, 251);
    --background: rgb(4, 4, 1);
    --primary: rgb(164, 168, 223);
    --secondary: rgb(42, 40, 15);
    --accent: rgb(70, 78, 190);
}

body, html {
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100vh;
}


/* basic grid layout */
.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: clamp(50px, 120px, 150px) 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.grid-container > .grid-item {
    border:1px solid black;
    padding: 20px;
    color: var(--text);
}

.header {
    grid-area: header;
    background-color: var(--primary);
}

.main {
    grid-area: main;
    background-color: var(--background);
}

/* SIDEBAR */

/* TODO: Create 3 rows / 1 column */
.sidebar{
    grid-area: sidebar;
    background-color: var(--accent);
    display: grid;
    grid-template-rows: minmax(50px, 100px) minmax(150px, 1fr) 1fr;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    height: 50px;
}

.sidebar__logo > h2 {
    font-size: 1rem;
    margin-left: 15px;
}

.sidebar__logo > svg {
    height: 30px;
    width: 30px;
    fill: var(--text);
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 5px;
    font-weight: 300;
    width: 100%;
}

.sidebar ul li:hover {
    cursor: pointer;
}